<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash|Oxygen' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="/images/favi.png"/>
    <!--[if !IE 7]>
  <style type="text/css">
    #wrap {display:table;height:100%}
  </style>
<![endif]-->
</head>
<body class="error">

 <div id="wrap">
  <div id="main" style="text-align:center">

   
  <span class="webeasy" style="font-size:4em;line-height:1em;margin-top: 2em;display: inline-block;"><span class="webeasy-white">web<span class="webeasy-white">easy</span><span class="webeasy-small webeasy-white">.io</span></span></span>

	<div class="circle-404">
	  <h1><span class="header404">404</span><br />Page Not Found</h1>
	  <h3>Sorry we can't find that...</h3>
	</div>
  </div>
</div>

</body>
</html>