<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" ><![endif]-->
        <title>Ecuador Poster Bienal</title>
    	<meta name="keywords" content="" />
		<meta name="description" content="" />
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/epb.css">
        <link rel="stylesheet" href="css/upload.css">
    </head>
    <body>
        <div id="main-content">
            <!--[if lt IE 7]>
                <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please updgrade this browser or download other.</p>
            <![endif]-->
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 affix text-center" style="z-index: 1;">
                <h1 class="pagetitle">
                        <img src="imgs/btn-menu.png" alt="main menu" id="m-btn" class="pull-right visible-xs visible-sm" >
                </h1>

                <ul id="responsive" style="display:none" class="hidden-lg hidden-md"></ul>
            </div>
        <div class="left">

            <div class="logo">
                <img src="imgs/logo.jpg" title="Ecuador Poster Bienal">
            </div>

            <div class="menu visible-md visible-lg">
                <ul id="menu-body">
                    <li class="about-menu"><a href="#about">About</a></li>
                    <li class="call-menu"><a href="#call">Call for Posters</a></li>
                    <li class="selected-menu"><a href="#selected">Selected Posters</a></li>
                    <li class="jury-menu"><a href="#jury">Jury</a></li>
                    <li class="history-menu"><a href="#history">History</a></li>
                    <li class="contact-menu"><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="upload-posters">
                <ul id="upload-body">
                    <li class="upload-menu"><a href="#upload">Upload Poster</a></li>
                </ul>
            </div>
            <div class="social">
                <ul id="social-body">
                    <li class="facebook"><a href="https://www.facebook.com/ecuadorposterbienal" target="_blank"><img src="imgs/fb.jpg" title="Ecuador Poster Bienal on Facebook"></a></li>
                    <li class="twitter"><a href="#" target="_blank"><img src="imgs/tw.jpg" title="Ecuador Poster Bienal on Twitter"></a></li>
                    <li class="youtube"><a href="#" target="_blank"><img src="imgs/ytb.jpg" title="Ecuador Poster Bienal on Youtube"></a></li>
                    <li class="instagram"><a href="#" target="_blank"><img src="imgs/inst.jpg" title="Ecuador Poster Bienal on Instagram"></a></li>
                </ul>
            </div>
                    <p class="footer">Ecuador Poster Bienal &copy; 2015</p>
        </div>

            <div class="image-section">
                <div class="image-container">
                    <img src="imgs/main.jpg" id="home-img" class="main-img inactive" alt="Home">
                    <img src="imgs/about.jpg" id="about-img" class="inactive" alt="About">
                    <img src="imgs/call.jpg" id="call-img"  class="inactive" alt="Call for Posters">
                    <img src="imgs/selected.jpg" id="selected-img" class="inactive" alt="Selected Posters">
                    <img src="imgs/jury.jpg" id="jury-img" class="inactive" alt="Jury">
                    <img src="imgs/history.jpg" id="history-img" class="inactive" alt="History">
                    <img src="imgs/contact.jpg" id="contact-img" class="inactive" alt="Contact with us">
                    <img src="imgs/call.jpg" id="upload-img"  class="inactive" alt="Call for Posters">
                </div>
            </div>
</div>
            <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                                <div class="col-sm-10 col-md-10 col-lg-10 ">
                                    &nbsp;
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 ">
                                        <div class="languages">
                                            <ul id="languages-body">
                                                <li class="english"><a href="#" target="_blank"><img src="imgs/eng.jpg" title="English Version"></a></li>
                                                <li class="spanish"><a href="#" target="_blank"><img src="imgs/esp.jpg" title="Spanish Version"></a></li>
                                            </ul>
                                        </div>
                                </div>
                        </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 posters-content-wrapper">
                    <div class="posters-content">
                        <section id="home-text" class="active posters-content-section" style="display:none;">
                            <div class="col-sm-12 col-md-12 col-lg-12">

                            </div>
                        </section>

                        <section id="about-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                            <h2><%= __('AboutHeading') %></h2>
                                <p>Objectives</p>
                                <p>

                                    <ul>
                                    <li>Promote the talented designers of Ecuador, Latin America and the world.</li>
                                    <li>Improve the design and culture in Ecuador.</li>
                                    <li>Create awareness to the people of their social responsibility.</li>
                                    <li>Enhance the design skills and knowledge of the youth of Ecuador.</li>
                                    <li>Inspire the creativity of designers and the general public in Ecuador.</li>
                                    </ul>

                                </p>
                                <p>Why</p>
                                <p>

                                    <ul>
                                    <li> For Ecuador to be one of the best countries in the world for Design.</li>
                                    <li> For Ecuador to be a better country.</li>
                                    <li> So the people of Ecuador understand what is the problems of Ecuador and the world.</li>
                                    <li> To realise the potential of the young designers of Ecuador.</li>
                                    <li> To break down the walls of restriction so that people can belief that anything is possible.</li>
                                    </ul>

                                </p>

                               <p><br> Schedule </p>

                               <p>September - Call for Posters open</p>

                               <p>June - Call  for Posters close</p>

                               <p>July - Jury evaluation</p>

                               <p> August - Results</p>

                               <p> September  -  Opening</p>

                               <p><br> Team </p>

                               <p>President - Christopher Scott</p>

                               <p>Consultant - Christian Lasso</p>

                               <p>Web - Javier Jarrin</p>

                               <p>System - Stephen Scott </p>
                            </div>

                        </section>

                        <section id="call-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                                <h2 >Call for Posters</h2>
                                <p>Coming soon...</p>
                            </div>
                        </section>

                        <section id="selected-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                                <h2>Selected Posters</h2>
                                <p>Coming soon...</p>
                            </div>
                        </section>

                        <section id="jury-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                                <h2>Jury</h2>
                                <p>Coming soon...</p>
                            </div>
                        </section>

                        <section id="history-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                                <h2>History</h2>
                                <p>The Ecuador Poster Bienal was founded by Christopher Scott in the year 2015.  We hope the Ecuador Poster Bienal inspires Ecuador, Latin America and the rest of the world of the importance of the Poster and Design in general.</p>
                                <p><br>More coming soon...</p>
                            </div>
                        </section>

                        <section id="contact-text" class="inactive">
                            <div class="col-sm-12 col-md-12">
                                <h2>Contact</h2>
                                <p>If you would like to get in contact with the Ecuador Poster Bienal you can send us an email to:  </p>
                                <p>ecuadorposterbienal@gmail.com</p>
                            </div>
                        </section>

                        <section id="upload-text" class="inactive">
                            <div class="col-sm-11 col-md-11">
                                <h2>Participate / Upload Poster</h2>
                                <h4>Specifications: </h4>
                                <p>- JPG
                                <br>- 500 px X 700 px
                                <br>- 72 dpi
                                <br>- RGB color mode
                                </p>
                                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 col-lg-offset-1 col-md-offset-1">

                                        <p>&nbsp;</p>
                                        <form action="#" method="post">

                                                <div class="form-group">
                                                <label for="first_name">First name:</label>
                                                    <input type="text" id="first_name" class="form-control" placeholder="First Name" />
                                                </div>
                                                <div class="form-group">
                                                <label for="last_name">Last name:</label>
                                                    <input type="text" id="last_name" class="form-control" placeholder="Last Name" />
                                                </div>
                                                <div class="form-group">
                                                <label for="country">Country:</label>
                                                    <select id="country" class="form-control">
                                                            <option value="" selected="selected">- Select Country -</option>
                                                            <option value="United States">United States</option>
                                                            <option value="United Kingdom">United Kingdom</option>
                                                            <option value="Afghanistan">Afghanistan</option>
                                                            <option value="Albania">Albania</option>
                                                            <option value="Algeria">Algeria</option>
                                                            <option value="American Samoa">American Samoa</option>
                                                            <option value="Andorra">Andorra</option>
                                                            <option value="Angola">Angola</option>
                                                            <option value="Anguilla">Anguilla</option>
                                                            <option value="Antarctica">Antarctica</option>
                                                            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                            <option value="Argentina">Argentina</option>
                                                            <option value="Armenia">Armenia</option>
                                                            <option value="Aruba">Aruba</option>
                                                            <option value="Australia">Australia</option>
                                                            <option value="Austria">Austria</option>
                                                            <option value="Azerbaijan">Azerbaijan</option>
                                                            <option value="Bahamas">Bahamas</option>
                                                            <option value="Bahrain">Bahrain</option>
                                                            <option value="Bangladesh">Bangladesh</option>
                                                            <option value="Barbados">Barbados</option>
                                                            <option value="Belarus">Belarus</option>
                                                            <option value="Belgium">Belgium</option>
                                                            <option value="Belize">Belize</option>
                                                            <option value="Benin">Benin</option>
                                                            <option value="Bermuda">Bermuda</option>
                                                            <option value="Bhutan">Bhutan</option>
                                                            <option value="Bolivia">Bolivia</option>
                                                            <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                                            <option value="Botswana">Botswana</option>
                                                            <option value="Bouvet Island">Bouvet Island</option>
                                                            <option value="Brazil">Brazil</option>
                                                            <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                            <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                            <option value="Bulgaria">Bulgaria</option>
                                                            <option value="Burkina Faso">Burkina Faso</option>
                                                            <option value="Burundi">Burundi</option>
                                                            <option value="Cambodia">Cambodia</option>
                                                            <option value="Cameroon">Cameroon</option>
                                                            <option value="Canada">Canada</option>
                                                            <option value="Cape Verde">Cape Verde</option>
                                                            <option value="Cayman Islands">Cayman Islands</option>
                                                            <option value="Central African Republic">Central African Republic</option>
                                                            <option value="Chad">Chad</option>
                                                            <option value="Chile">Chile</option>
                                                            <option value="China">China</option>
                                                            <option value="Christmas Island">Christmas Island</option>
                                                            <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                                                            <option value="Colombia">Colombia</option>
                                                            <option value="Comoros">Comoros</option>
                                                            <option value="Congo">Congo</option>
                                                            <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                                                            <option value="Cook Islands">Cook Islands</option>
                                                            <option value="Costa Rica">Costa Rica</option>
                                                            <option value="Cote D'ivoire">Cote D'ivoire</option>
                                                            <option value="Croatia">Croatia</option>
                                                            <option value="Cuba">Cuba</option>
                                                            <option value="Cyprus">Cyprus</option>
                                                            <option value="Czech Republic">Czech Republic</option>
                                                            <option value="Denmark">Denmark</option>
                                                            <option value="Djibouti">Djibouti</option>
                                                            <option value="Dominica">Dominica</option>
                                                            <option value="Dominican Republic">Dominican Republic</option>
                                                            <option value="Ecuador">Ecuador</option>
                                                            <option value="Egypt">Egypt</option>
                                                            <option value="El Salvador">El Salvador</option>
                                                            <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                            <option value="Eritrea">Eritrea</option>
                                                            <option value="Estonia">Estonia</option>
                                                            <option value="Ethiopia">Ethiopia</option>
                                                            <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                                                            <option value="Faroe Islands">Faroe Islands</option>
                                                            <option value="Fiji">Fiji</option>
                                                            <option value="Finland">Finland</option>
                                                            <option value="France">France</option>
                                                            <option value="French Guiana">French Guiana</option>
                                                            <option value="French Polynesia">French Polynesia</option>
                                                            <option value="French Southern Territories">French Southern Territories</option>
                                                            <option value="Gabon">Gabon</option>
                                                            <option value="Gambia">Gambia</option>
                                                            <option value="Georgia">Georgia</option>
                                                            <option value="Germany">Germany</option>
                                                            <option value="Ghana">Ghana</option>
                                                            <option value="Gibraltar">Gibraltar</option>
                                                            <option value="Greece">Greece</option>
                                                            <option value="Greenland">Greenland</option>
                                                            <option value="Grenada">Grenada</option>
                                                            <option value="Guadeloupe">Guadeloupe</option>
                                                            <option value="Guam">Guam</option>
                                                            <option value="Guatemala">Guatemala</option>
                                                            <option value="Guinea">Guinea</option>
                                                            <option value="Guinea-bissau">Guinea-bissau</option>
                                                            <option value="Guyana">Guyana</option>
                                                            <option value="Haiti">Haiti</option>
                                                            <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                                                            <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                                                            <option value="Honduras">Honduras</option>
                                                            <option value="Hong Kong">Hong Kong</option>
                                                            <option value="Hungary">Hungary</option>
                                                            <option value="Iceland">Iceland</option>
                                                            <option value="India">India</option>
                                                            <option value="Indonesia">Indonesia</option>
                                                            <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                                                            <option value="Iraq">Iraq</option>
                                                            <option value="Ireland">Ireland</option>
                                                            <option value="Israel">Israel</option>
                                                            <option value="Italy">Italy</option>
                                                            <option value="Jamaica">Jamaica</option>
                                                            <option value="Japan">Japan</option>
                                                            <option value="Jordan">Jordan</option>
                                                            <option value="Kazakhstan">Kazakhstan</option>
                                                            <option value="Kenya">Kenya</option>
                                                            <option value="Kiribati">Kiribati</option>
                                                            <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                                                            <option value="Korea, Republic of">Korea, Republic of</option>
                                                            <option value="Kuwait">Kuwait</option>
                                                            <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                            <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                                                            <option value="Latvia">Latvia</option>
                                                            <option value="Lebanon">Lebanon</option>
                                                            <option value="Lesotho">Lesotho</option>
                                                            <option value="Liberia">Liberia</option>
                                                            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                                            <option value="Liechtenstein">Liechtenstein</option>
                                                            <option value="Lithuania">Lithuania</option>
                                                            <option value="Luxembourg">Luxembourg</option>
                                                            <option value="Macao">Macao</option>
                                                            <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                                                            <option value="Madagascar">Madagascar</option>
                                                            <option value="Malawi">Malawi</option>
                                                            <option value="Malaysia">Malaysia</option>
                                                            <option value="Maldives">Maldives</option>
                                                            <option value="Mali">Mali</option>
                                                            <option value="Malta">Malta</option>
                                                            <option value="Marshall Islands">Marshall Islands</option>
                                                            <option value="Martinique">Martinique</option>
                                                            <option value="Mauritania">Mauritania</option>
                                                            <option value="Mauritius">Mauritius</option>
                                                            <option value="Mayotte">Mayotte</option>
                                                            <option value="Mexico">Mexico</option>
                                                            <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                                                            <option value="Moldova, Republic of">Moldova, Republic of</option>
                                                            <option value="Monaco">Monaco</option>
                                                            <option value="Mongolia">Mongolia</option>
                                                            <option value="Montserrat">Montserrat</option>
                                                            <option value="Morocco">Morocco</option>
                                                            <option value="Mozambique">Mozambique</option>
                                                            <option value="Myanmar">Myanmar</option>
                                                            <option value="Namibia">Namibia</option>
                                                            <option value="Nauru">Nauru</option>
                                                            <option value="Nepal">Nepal</option>
                                                            <option value="Netherlands">Netherlands</option>
                                                            <option value="Netherlands Antilles">Netherlands Antilles</option>
                                                            <option value="New Caledonia">New Caledonia</option>
                                                            <option value="New Zealand">New Zealand</option>
                                                            <option value="Nicaragua">Nicaragua</option>
                                                            <option value="Niger">Niger</option>
                                                            <option value="Nigeria">Nigeria</option>
                                                            <option value="Niue">Niue</option>
                                                            <option value="Norfolk Island">Norfolk Island</option>
                                                            <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                                            <option value="Norway">Norway</option>
                                                            <option value="Oman">Oman</option>
                                                            <option value="Pakistan">Pakistan</option>
                                                            <option value="Palau">Palau</option>
                                                            <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                                                            <option value="Panama">Panama</option>
                                                            <option value="Papua New Guinea">Papua New Guinea</option>
                                                            <option value="Paraguay">Paraguay</option>
                                                            <option value="Peru">Peru</option>
                                                            <option value="Philippines">Philippines</option>
                                                            <option value="Pitcairn">Pitcairn</option>
                                                            <option value="Poland">Poland</option>
                                                            <option value="Portugal">Portugal</option>
                                                            <option value="Puerto Rico">Puerto Rico</option>
                                                            <option value="Qatar">Qatar</option>
                                                            <option value="Reunion">Reunion</option>
                                                            <option value="Romania">Romania</option>
                                                            <option value="Russian Federation">Russian Federation</option>
                                                            <option value="Rwanda">Rwanda</option>
                                                            <option value="Saint Helena">Saint Helena</option>
                                                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                            <option value="Saint Lucia">Saint Lucia</option>
                                                            <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                                                            <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                                                            <option value="Samoa">Samoa</option>
                                                            <option value="San Marino">San Marino</option>
                                                            <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                            <option value="Saudi Arabia">Saudi Arabia</option>
                                                            <option value="Senegal">Senegal</option>
                                                            <option value="Serbia and Montenegro">Serbia and Montenegro</option>
                                                            <option value="Seychelles">Seychelles</option>
                                                            <option value="Sierra Leone">Sierra Leone</option>
                                                            <option value="Singapore">Singapore</option>
                                                            <option value="Slovakia">Slovakia</option>
                                                            <option value="Slovenia">Slovenia</option>
                                                            <option value="Solomon Islands">Solomon Islands</option>
                                                            <option value="Somalia">Somalia</option>
                                                            <option value="South Africa">South Africa</option>
                                                            <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                                                            <option value="Spain">Spain</option>
                                                            <option value="Sri Lanka">Sri Lanka</option>
                                                            <option value="Sudan">Sudan</option>
                                                            <option value="Suriname">Suriname</option>
                                                            <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                                                            <option value="Swaziland">Swaziland</option>
                                                            <option value="Sweden">Sweden</option>
                                                            <option value="Switzerland">Switzerland</option>
                                                            <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                                            <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                                                            <option value="Tajikistan">Tajikistan</option>
                                                            <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                                            <option value="Thailand">Thailand</option>
                                                            <option value="Timor-leste">Timor-leste</option>
                                                            <option value="Togo">Togo</option>
                                                            <option value="Tokelau">Tokelau</option>
                                                            <option value="Tonga">Tonga</option>
                                                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                            <option value="Tunisia">Tunisia</option>
                                                            <option value="Turkey">Turkey</option>
                                                            <option value="Turkmenistan">Turkmenistan</option>
                                                            <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                                                            <option value="Tuvalu">Tuvalu</option>
                                                            <option value="Uganda">Uganda</option>
                                                            <option value="Ukraine">Ukraine</option>
                                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                                            <option value="United Kingdom">United Kingdom</option>
                                                            <option value="United States">United States</option>
                                                            <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                                            <option value="Uruguay">Uruguay</option>
                                                            <option value="Uzbekistan">Uzbekistan</option>
                                                            <option value="Vanuatu">Vanuatu</option>
                                                            <option value="Venezuela">Venezuela</option>
                                                            <option value="Viet Nam">Viet Nam</option>
                                                            <option value="Virgin Islands, British">Virgin Islands, British</option>
                                                            <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                                            <option value="Wallis and Futuna">Wallis and Futuna</option>
                                                            <option value="Western Sahara">Western Sahara</option>
                                                            <option value="Yemen">Yemen</option>
                                                            <option value="Zambia">Zambia</option>
                                                            <option value="Zimbabwe">Zimbabwe</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                <label for="category">Category:</label>
                                                    <select id="category" class="form-control">
                                                            <option value="A">A</option>
                                                            <option value="B">B</option>
                                                            <option value="C">C</option>
                                                            <option value="D">D</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                <label for="email">Email:</label>
                                                    <input type="text" id="email" class="form-control" placeholder="Email Address" />
                                                </div>
                                                <div class="form-group">
                                                <label for="poster_file">Attach Poster:</label>
                                                    <input type="file" id="poster_file">
                                                    <p class="help-block">.JPG file - 500 px X 700 px - 72 dpi - RGB mode.</p>
                                                </div>
                                                <button type="submit" class="btn btn-primary" id="sendposter">Upload Poster</button>

                                        </form>
                                    </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>


	</div>

        <div id="charger">
            <div id="charger-status">&nbsp;</div>
        </div>

        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/script.js"></script>

    </body>
</html>