@font-face {
    font-family: 'Helvetica 45 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 45 Light'), url('../fonts/HelveticaNeue-Light.woff') format('woff');
}

body, html {
    overflow-x: hidden;
}

body {
    font-size: 1em;
    line-height: 1.4;
    font-family:'Helvetica 45 Light';
    font-style: normal;
}

h1, h2, span, p
{
    font-family:'Helvetica 45 Light';
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.img-centered {
    margin: 0 auto;
}

.btn-primary {
    border-color: #fed136;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 10px;
    color: #fff;
    background-color: #fed136;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #f6bf01;
    color: #fff;
    background-color: #fec503;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #fed136;
    background-color: #fed136;
}

.btn-primary .badge {
    color: #fed136;
    background-color: #fff;
}

img {
    vertical-align: middle;
}

#charger {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#charger-status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../imgs/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

#main-content {
     overflow: hidden;
}

.pagetitle {
    color: #fff !important;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 1);
	font-size: 48px;
}

img.slide {
    width: 100%;
    z-index: -9999999;
    position: absolute;
}

.active {
    display: block;
}

.inactive {
    left: 703px;
    display: none;
}

.image-section {
    position: fixed;
}

.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
}

.posters-content {
    position: static;
    overflow: hidden;
    padding-bottom: 6%;
}

.posters-content section {
    margin-top: 15%;
    font-family:'Helvetica 45 Light';
    position: relative;
    overflow: hidden;
    top: 0;
    padding-bottom: 20px;
    height: 100%;
    font-weight: 580;
}

#about-text{
    background-color: rgba(237,106,144,0.75);
}

#call-text{
    background-color: rgba(97,136,197,0.75);
}

#upload-text{
    height: 100%;
    width: 570px;
    padding-bottom: 3%;
    margin-top: 5%;
    margin-left: 15%;
    background: url('../imgs/upload-back.jpg') repeat-y rgba(255,255,255,0.85);
}

#selected-text{
    background-color: rgba(220,129,179,0.75);
}

#selected-text > h3{
    color: #ffffff;
}

#jury-text{
    background-color: rgba(249,177,60,0.75);
}

#sponsors-text{
    background-color: rgba(157,85,157,0.75);
}

#contact-text{
    background-color: rgba(89,182,113,0.75);
}

.posters-content-wrapper {
    overflow: hidden;
}

.posters-content h2 {
    color: #fff;
    font-family:'Helvetica 45 Light';
    padding-left: 38px;
    padding-top: 40px;
    padding-bottom: 20px;
}

.posters-content p {
    font-family:'Helvetica 45 Light';
    color: #fff;
    font-size: 13px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
}

.subtitle {
    font-family:'Helvetica 45 Light';
    color: #fff;
    font-size: 14px;
    padding-left: 30px;
}

.posters-content ul {
    font-family:'Helvetica 45 Light';
    color: #fff;
    font-size: 13px;
    padding-left: 55px;
    padding-right: 30px;
}

.posters-content ol {
    font-family:'Helvetica 45 Light';
    color: #fff;
    font-size: 13px;
    padding-left: 55px;
    padding-right: 30px;
}

.left{
    position: fixed;
    height: 100%;
    overflow: auto;
    width: 17%;
    min-width: 250px !important;
    max-width: 370px !important;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.logo{
    width: 100%;
    position: static;
}

.social{
    width: 100%;
    margin-top: 10%;
}

.languages{
    height: 24px;
    margin-top: 2%;
    text-align: right;
    padding-left: 45%;
}

#languages-body > ul{
    height: 24px;
}

#languages-body > li {
    list-style: none;
    display: inline-block;
    float: left;
    margin: 3px;
    padding: 0px;
}

#languages-body > li > a {
    padding: 0px;
    text-decoration: none;
}

.languages-m{
    height: 24px;
    text-align: right;
}

#languages-m-body > ul{
    height: 20px;
    width: 200px;
    list-style: none;
    display: inline-block;
}

#languages-m-body > li {
    list-style: none;
    display: inline-block;
    margin: 3px;
    padding: 0px;
}

#languages-m-body > li > a {
    padding: 0px;
    text-decoration: none;
}

#social-body{
    width: 100%;
}

#social-body > li {
    list-style: none;
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}

#social-body > li > a {
    display: block;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    margin: 0px;
}

#social-body > li > a > img {
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 60px;
    height: 60px;
}

#social-body > li > a:hover {
    background-color: rgba(255,255,255,0.25);
}

.menu {
    width: 100%;
    max-width: 370px !important;
    min-width: 250px !important;
}

#menu-body {
    background-color: rgb(255, 255, 255);
    font-size: 1.7em;
    padding: 0;
    width: 100%;
}

#menu-body > li {
    display: block;
}

#menu-body .about-menu {
    background-color: #ed6a90;
}
#menu-body .call-menu {
    background-color: #6188c5;
}
#menu-body .selected-menu {
    background-color: #dc81b3;
}
#menu-body .jury-menu {
    background-color: #f9b13c;
}
#menu-body .sponsors-menu {
    background-color: #9d559d;
}
#menu-body .contact-menu {
    background-color: #59b671;
}

#menu-body > li > a {
    font-family:'Helvetica 45 Light';
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 500;
}

#menu-body > .active > a,
#menu-body > li > a:hover {
    background-color: rgba(255,255,255,0.25);
}


#responsive {
    font-size: 16px;
    padding: 0;
    background-color: rgba(255,255,255,0.8);
}

#responsive li {
    display: block;
}

#responsive li a {
    font-family:'Helvetica 45 Light';
    color: #000;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}

#responsive > .active > a,
#responsive li a:hover {
    background-color: rgba(0,0,0,0.5);
}

.footer {
    font-family:'Helvetica 45 Light';
    color: #6188c5;
    font-size: 1.2em;
    margin-top: 30%;
}

.posters-content {
    padding-bottom: 6%;
}

#upload-posters
{
    width: 100%;
}

#upload-body{
    margin:0px;
    margin-top: 18%;
    margin-left: -15%;
}

#upload-body li
{
    display: inline-block;
    list-style: none;
}

#upload-body li a
{
    height: 30px;
    background-color: #6188c5;
    color: #fff;
    font-family:'Helvetica 45 Light';
    font-size: 1.8em;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    font-weight: 500;
    margin: 0;
}

#upload-body > .active > a,
#upload-body > li > a:hover{
    background-color: #dc81b3;
}

#participate{
    height: 100%;
    width: 65%;
    padding-bottom: 3%;
    margin: 0 auto;
    margin-top: 10%;
    background: url('../imgs/upload-back.jpg') repeat-y rgba(255,255,255,0.85);
    -webkit-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
}

#participate h2 {
    color: #000;
    font-family:'Helvetica 45 Light';
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 600;
}

#participate h4 {
    color: #000;
    font-family:'Helvetica 45 Light';
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 2%;
    font-weight: 600;
}

#participate p {
    font-family:'Helvetica 45 Light';
    color: #000;
    font-size: 1.5em;
    padding-left: 5%;
}

#participate ul {
    font-family:'Helvetica 45 Light';
    color: #000;
    font-size: 14px;
    padding-left: 55px;
}


#sendposter{
    width: 100%;
}

#about-body{
    background-color: rgba(237,106,144,0.75);
}

#call-body{
    background-color: rgba(97,136,197,0.75);
}

#selected-body{
    background-color: rgba(220,129,179,0.75);
}

#selected-body > h3{
    color: #ffffff;
}

#jury-body{
    background-color: rgba(249,177,60,0.75);
}

#sponsors-body{
    background-color: rgba(157,85,157,0.75);
}

#contact-body{
    background-color: rgba(89,182,113,0.75);
}

.selected-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.selected-list > li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size:14px;
}

#mobile-version{
    position: relative;
    z-index: -99999999;
    width: 100% !important;
    height: 100px !important;
    margin: 0 auto;
    overflow: hidden;
}

#mobile-version > div > section{
    margin: 0 auto;
}
#participate{
    margin-top: 10%;
}

@media all and (max-width: 800px){
    #participate{
        width: 75%;
        height: 100%;
    }
    .left{
        width:100% !important;
        max-width: 100% !important;
        position: static;
    }
    .logo{
        margin-bottom: 80px;
    }
    .posters-content section {
        margin: 0;
        font-family:'Helvetica 45 Light';
        position: relative;
        overflow: hidden;
        top: 0;
        padding-bottom: 20px;
        height: 100%;
        font-weight: 580;
    }
    .logo img{
        width: 250px;
        height: 262px;
    }

    #mobile-version{
        position: relative;
        z-index: 1 !important;
        height: auto !important;
    }

    #about-body, #call-body, #jury-body, #selected-body, #sponsors-body, #contact-body, #participate{
        display: block !important;
    }
}


@media all (max-width: 1024px){
    #participate{
        width: 55% !important;
        height: 100%;
    }
    .left{
        width:100% !important;
        max-width: 100% !important;
        height: 100%;
        position: static;
     }

    .logo img{
        width: 250px;
        height: 262px;
    }

    #mobile-version{
        position: relative;
        z-index: 1 !important;
        height: auto !important;
    }

    #about-body, #call-body, #jury-body, #selected-body, #sponsors-body, #contact-body, #participate{
        display: block !important;
    }
}

@media all and (max-width: 1279px) and (min-width: 1024px){
    #participate{
        width: 55% !important;
        height: 100%;
    }
    .left{
        width:100% !important;
        max-width: 100% !important;
        height: 100%;
        position: static;
        margin-bottom: -25%;
    }
    .logo img{
        width: 250px;
        height: 262px;
    }

    #mobile-version{
        position: relative;
        z-index: 1 !important;
        height: auto !important;
    }

    #about-body, #call-body, #jury-body, #selected-body, #sponsors-body, #contact-body, #participate{
        display: block !important;
    }
}

@media all and (max-width: 1279px){
    .left{
        width:100% !important;
        max-width: 100% !important;
        height: 100%;
        position: static;
        margin-bottom: -25%;
    }

    #menu-body{
        display: none !important;
    }

    #social-body{
        display: none !important;
    }

    #upload-body{
        display: none !important;
    }

    #languages-body{
        display: none !important;
    }

    #footer-body{
        display: none !important;
    }

    #about-text, #call-text, #selected-text, #jury-text, #sponsors-text, #contact-text, #upload-text{
        display: none !important;
    }

    #mobile-version{
        position: relative;
        z-index: 1 !important;
        height: auto !important;
    }

    #about-body, #call-body, #jury-body, #selected-body, #sponsors-body, #contact-body, #participate{
        display: block !important;
    }
}

@media all and (max-width: 1366px){
    #social-body > li > a > img {
        width:40px;
        height:40px;
    }

    #menu-body {
    background-color: rgb(255, 255, 255);
    font-size: 1.3em;
    padding: 0;
    }

    .logo img{
        width: 231px;
        height: 242px;
    }

    #upload-body li a
    {
        font-size: 1.3em;
    }
}

@media all and (max-width: 1600px) and (min-width: 1367px){
    #menu-body {
    background-color: rgb(255, 255, 255);
    font-size: 1.4em;
    padding: 0;
    }

    #social-body > li > a > img {
        width:47px;
        height:47px;
    }
    #upload-body li a
    {
        font-size: 1.4em;
    }
    .social {
        margin-top: 23%;
    }
    .footer {
        margin-top: 70%;
    }
}

@media all and (max-width: 1980px) and (min-width: 1601px){
    .footer {
        margin-top: 65%;
    }

    .social {
        margin-top: 20%;
    }

    #social-body > li > a > img {
        width:57px;
        height:57px;
    }
}

/* JURY CONTENT */

.jury-item {
    right: 0;
    margin: 0 0 15px;
}

.jury-item .jury-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 220px;
}
.jury-item .jury-link .jury-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(254,209,54,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.jury-item .jury-link .jury-hover:hover {
    opacity: 1;
    border: 0;
}

.jury-item .jury-link .jury-hover .jury-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.jury-item .jury-link .jury-hover .jury-hover-content i {
    margin-top: -12px;
}

.jury-item .jury-link .jury-hover .jury-hover-content h3,
.jury-item .jury-link .jury-hover .jury-hover-content h4 {
    margin: 0;
}

.jury-item .jury-caption {
    margin: 0 auto;
    padding: 10px;
    max-width: 220px;
    text-align: center;
    background-color: #fff;
}

.jury-item .jury-caption h4 {
    margin: 0;
    text-transform: none;
    color: #737373;
}

.jury-item .jury-caption p {
    margin: 0;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

.jury * {
    z-index: 2;
}

@media(min-width:767px) {
    .jury-item {
        margin: 0 0 30px;
    }
}

.jury-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.jury-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.jury-modal .modal-content p {
    margin-bottom: 30px;
    font-size: 16px;
    text-align: justify;
}

.jury-modal .modal-content p.item-intro {
    margin: 10px 0 30px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}

.jury-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.jury-modal .modal-content img {
    margin-bottom: 30px;
}

.jury-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.jury-modal .close-modal:hover {
    opacity: .3;
}

.jury-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.jury-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.jury-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}
