/*body {
    font-size: 1em;
    line-height: 1.4;
    font-family:'Helvetica 45 Light';
    font-style: normal; 
}

h1, h2, span, p 
{     
    font-family:'Helvetica 45 Light';
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

#main-content {
     overflow: hidden;
}

.active {
    display: block;
}

.inactive {
    left: 703px;
    display: none;
}

.posters-content {
    position: static;
    overflow: hidden; 
    padding-bottom: 6%;
}

#logo{
    -webkit-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
}

.posters-content section {
    margin-top: 5%;
    font-family:'Helvetica 45 Light';
    position: relative; 
    overflow: hidden;
    top: 0; 
    padding-bottom: 15px;
    font-weight: 580;
}

#upload-content{
    background-color: #fff;
    -webkit-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 3px #fff, 0px 1px 3px rgba(0,0,0,0.3);
} 

.posters-content-wrapper {
    overflow: hidden;
}
*/

#upload-text h2 {
    color: #000;
    font-family:'Helvetica 45 Light';
    padding-left: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
}

#upload-text h4 {
    color: #000;
    font-family:'Helvetica 45 Light';
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 600;
}

label
{
    font-size: 1.5em;
}

textarea{
    resize:none;
}

#upload-text p {
    font-family:'Helvetica 45 Light';
    color: #000;
    font-size: 1em;
    padding-left: 60px;
}

#upload-text ul {
    font-family:'Helvetica 45 Light';
    color: #000;
    font-size: 1em;
    padding-left: 55px;
}


.posters-content {
    padding-bottom: 6%;
}

#sendposter{
    width: 100%;
}